body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  overflow-x: hidden; }

#wrapper {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  padding-bottom: 100px; }
  #wrapper #content {
    min-height: 100vh;
    overflow-x: hidden; }

* {
  outline: none;
  box-sizing: border-box; }

a {
  color: black;
  text-decoration: none; }

#lateralMenu {
  z-index: 100;
  width: 85%;
  border-right: 1px solid #3a424a;
  font-size: 14px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 1s;
  background: white; }
  #lateralMenu.open {
    transform: translateX(0px); }
  #lateralMenu .profile-block {
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
    background: linear-gradient(90deg, #84d8e3 36%, #a7e7cc 100%);
    color: #324252; }
    #lateralMenu .profile-block .image {
      border-radius: 50%;
      border: 1px solid grey;
      width: 50px;
      height: 50px; }
    #lateralMenu .profile-block .wrap {
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin-left: -20px; }
      #lateralMenu .profile-block .wrap p {
        margin-top: 0; }
    #lateralMenu .profile-block i {
      margin-right: 10px;
      font-size: 30px;
      cursor: pointer; }
  #lateralMenu .links-block {
    padding: 20px; }
    #lateralMenu .links-block a {
      font-size: 16px;
      display: block;
      margin: 15px 0; }
  #lateralMenu .more-block {
    padding: 20px;
    position: absolute;
    bottom: 20px; }

#headerMenu {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background: linear-gradient(90deg, #84d8e3 36%, #a7e7cc 100%);
  padding: 15px 5px;
  margin-bottom: -1px; }
  #headerMenu a, #headerMenu .notifications {
    margin-right: 15px;
    color: #324252; }
    #headerMenu a img, #headerMenu .notifications img {
      cursor: pointer;
      width: 24px; }
  #headerMenu .notifications {
    position: relative; }
    #headerMenu .notifications .notifications-count {
      font-size: 12px;
      background: darkorange;
      border-radius: 15px;
      height: 15px;
      width: 15px;
      bottom: 0;
      right: -5px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center; }
    #headerMenu .notifications #notificationsList {
      display: none;
      position: absolute;
      bottom: -52vh;
      left: -45vw;
      width: 75vw;
      height: 50vh;
      background: white;
      padding: 15px 0;
      font-size: 16px;
      z-index: 20;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
      #headerMenu .notifications #notificationsList h2 {
        font-size: 16px;
        text-align: center;
        margin-top: 0px !important; }
      #headerMenu .notifications #notificationsList #list {
        overflow: scroll;
        max-height: 288px; }
      #headerMenu .notifications #notificationsList:after {
        content: " ";
        position: absolute;
        right: 90px;
        top: -12px;
        border-top: none;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        border-bottom: 12px solid white; }
    #headerMenu .notifications.open #notificationsList {
      display: block; }
      #headerMenu .notifications.open #notificationsList #list .notification {
        color: #3a424a;
        padding: 15px 15px;
        font-size: 14px;
        margin: 0;
        display: block;
        transition: background-color 1s;
        position: relative; }
        #headerMenu .notifications.open #notificationsList #list .notification.unreaded {
          background: rgba(132, 216, 227, 0.4); }
        #headerMenu .notifications.open #notificationsList #list .notification:hover {
          background: #84d8e3; }
        #headerMenu .notifications.open #notificationsList #list .notification hr {
          color: #84d8e3;
          width: 60%;
          margin: 0 auto;
          position: absolute;
          opacity: 0.3;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
  #headerMenu .logo-link {
    margin-right: 13%; }
    #headerMenu .logo-link #logo {
      width: 102px; }
  #headerMenu .profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%; }

#footerMenu {
  background: linear-gradient(90deg, #84d8e3 36%, #a7e7cc 100%);
  z-index: 10;
  position: fixed;
  width: 100vw;
  left: 0;
  top: calc(100vh - 80px);
  max-height: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; }
  #footerMenu .block {
    flex: 1 1 0px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #3a424a;
    font-weight: bold; }
    #footerMenu .block i {
      margin-top: 10px;
      font-size: 28px; }
    #footerMenu .block img {
      margin-top: 10px; }

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(140, 140, 140, 0.9);
  opacity: 0.3;
  display: none;
  overflow: hidden; }

.has-error input, .has-error textarea {
  border: 1px solid red !important; }

.has-error .error-message {
  color: red;
  font-size: 12px; }

.form-error-message {
  color: red;
  text-align: center;
  font-size: 12px; }

.modal, .modal-bts {
  border-radius: 15px;
  border: 0px solid;
  -webkit-box-shadow: 11px 10px 5px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 5px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 5px -9px rgba(0, 0, 0, 0.75); }

.title-modal {
  font-size: 18px;
  font-weight: bold; }

.warning {
  background: darkorange;
  border-radius: 15px;
  color: white;
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.warning-text {
  font-size: 10px;
  color: darkorange;
  margin-top: -10px; }

/*# sourceMappingURL=style.css.map */