@import "variables";


body, html {
  height:100%;
  margin:0;
  padding:0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x:hidden;
}
#wrapper {
  position: relative;
  width: 100vw;
  overflow-x:hidden;
  padding-bottom: 100px;
  #content {
    min-height: 100vh;
    overflow-x: hidden;
  }
}
* {
  outline: none;
  box-sizing: border-box;
}
a {
  color:black;
  text-decoration: none;
}
#lateralMenu {
  z-index: 100;
  width: 85%;
  border-right: 1px solid $secondary-color;
  font-size: 14px;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  transform: translateX(-100%);
  transition: transform 1s;
  background: white;
  &.open {
    transform: translateX(0px);
  }
  .profile-block {
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom:15px;
    background: $background-gradient;
    color:$primary-color;
    .image {
      border-radius: 50%;
      border:1px solid grey;
      width: 50px;
      height: 50px;
    }
    .wrap {
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin-left:-20px;
      p {
        margin-top: 0;
      }
    }
    i {
      margin-right:10px;
      font-size: 30px;
      cursor: pointer;
    }
  }
  .links-block {
    padding: 20px;
    a {
      font-size: 16px;
      display: block;
      margin: 15px 0;
    }
  }
  .more-block {
    padding: 20px;
    position: absolute;
    bottom:20px;
    a {
    }
  }
}
#headerMenu{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background: $background-gradient;
  padding: 15px 5px;
  margin-bottom: -1px;
  a,.notifications {
  margin-right: 15px;
    color:$primary-color;
    img {
      cursor: pointer;
      width: 24px;
    }
  }
  .notifications {
    position: relative;
    .notifications-count {
      font-size: 12px;
      background: darkorange;
      border-radius: 15px;
      height: 15px;
      width: 15px;
      bottom:0;
      right: -5px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #notificationsList {
      display: none;
      position: absolute;
      bottom:-52vh;
      left:-45vw;
      width: 75vw;
      height: 50vh;
      background: white;
      padding:15px 0;
      font-size: 16px;
      z-index: 20;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
      h2 {
        font-size: 16px;
        text-align: center;
        margin-top: 0px!important;
      }
      #list {
        overflow: scroll;
        max-height: 288px;
      }
      &:after {
        content: " ";
        position: absolute;
        right: 90px;
        top: -12px;
        border-top: none;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        border-bottom: 12px solid white;
      }
    }
    &.open {
      #notificationsList {
        display: block;
        #list {
          .notification {
            color:$secondary-color;
            padding:15px 15px;
            font-size: 14px;
            margin: 0;
            display: block;
            transition: background-color 1s;
            position: relative;
            &.unreaded {
              background: rgba(132,216,227,.4);
            }
            &:hover {
              background: $background;
            }
            hr {
              color: $background;
              width: 60%;
              margin:0 auto;
              position: absolute;
              opacity: 0.3;
              bottom:0;
              left:50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
  .logo-link{
    margin-right: 22%;
  }
  .profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
#footerMenu {
  background: $background-gradient;
  z-index: 10;
  position: fixed;
  width:100vw;
  left:0;
  top: calc(100vh - 80px);
  max-height:80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  .block {
    flex: 1 1 0px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color:$secondary-color;
    font-weight: bold;
    i {
      margin-top:10px;
      font-size: 28px;
    }
    img {
      margin-top:10px;
    }
  }
}
#backdrop {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(140, 140, 140,0.9);
  opacity: 0.3;
  display: none;
  overflow: hidden;
}

.has-error {
  input,textarea {
    border:1px solid red!important;
  }
  .error-message {
    color:red;
    font-size: 12px;
  }
}
.form-error-message {
  color:red;
  text-align: center;
  font-size: 12px;
}

.modal, .modal-bts {
  border-radius: 15px;
  border: 0px solid;
  -webkit-box-shadow: 11px 10px 5px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 10px 5px -9px rgba(0,0,0,0.75);
  box-shadow: 11px 10px 5px -9px rgba(0,0,0,0.75);
}
.title-modal{
  font-size: 18px;
  font-weight: bold;
}

.warning {
  background: darkorange;
  border-radius: 15px;
  color:white;
  width: 17px;
  height: 17px;
  text-align: center;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.warning-text {
  font-size: 10px;
  color:darkorange;
  margin-top: -10px;
}