{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/ad/create.css"/>
{{/extend}}
<div id="root">
    <h1>Crear anuncio</h1>
    <form action="/ad/create" method="post" class="validate">
        <div class="form-group">
            <label>Titulo</label>
            <input type="text" name="title" data-validate="notEmpty">
        </div>
        <div class="form-group">
            <label>Ciudad</label>
            <input type="text" name="city" data-validate="notEmpty">
        </div>
        <div class="form-group">
            <label>Código postal</label>
            <input type="text" name="postal_code" data-validate="postal_code">
        </div>
        <div class="form-group">
            <label>Dirección</label>
            <input type="text" name="address" data-validate="notNumbers">
            <div class="info">Por seguridad la dirección exacta del inmueble no se mostrará al usuario hasta que usted
                no confirme una cita con este.
            </div>
        </div>
        <div class="form-group">
            <label>Número</label>
            <input type="text" name="number" data-validate="notEmpty">
        </div>
        <div class="form-group">
            <label>Metros cuadrados</label>
            <input type="number" name="square_meters" data-validate="notEmpty">
        </div>
        <div class="form-group">
            <label>Número de habitaciones</label>
            <input type="number" name="rooms" data-validate="notEmpty">
        </div>
        <div class="form-group">
            <label>Número de lavabos</label>
            <input type="number" name="bathrooms" data-validate="notEmpty">
        </div>
        <div class="form-group chk">
            <input type="checkbox" name="terrace" id="terrace">
            <label for="terrace">Terraza</label>
        </div>
        <div class="form-group">
            <label>Estado del inmueble ( del 1 al 5, siendo 1 en mal estado y 5 en buen estado )</label>
            <input id="rangeStatus" type="range" name="flat_status" min="1" max="5" step="1">
            <div id="infoStatus"></div>
        </div>
        <div class="form-group">
            <label>Altura del inmueble</label>
            <input type="number" name="height" data-validate="notEmpty">
        </div>
        <div class="form-group chk">
            <input id="hasElevator" type="checkbox" name="hasElevator">
            <label for="hasElevator">Tiene ascensor</label>
        </div>
        <div class="form-group chk">
            <input id="parking" type="checkbox" name="parking">
            <label for="parking">Incluye plaza de parking</label>
        </div>
        <div class="form-group chk">
            <input id="storage_room" type="checkbox" name="storage_room">
            <label for="storage_room">Incluye trastero</label>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <textarea name="description" data-validate="notEmpty"></textarea>
        </div>
        <div id="fairPrice">El precio recomendado es: <span></span> €
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="number" name="price" data-validate="notEmpty">
        </div>
        <div class="form-group">
            <label>Imagenes</label>

            <div id="imageList">

                <div id="addImage">
                    <input type="file" id="imageUploadInput">
                    +
                </div>
            </div>
        </div>
        <button type="submit">Publicar</button>
    </form>
</div>

{{#extend "scripts"}}
    <script src="/javascripts/validator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/ad/create.js"></script>
{{/extend}}