form {
  color: #3a424a; }
  form .form-group {
    margin-bottom: 20px; }
    form .form-group.chk label {
      display: inline-block; }
    form .form-group label {
      display: block;
      margin-bottom: 5px; }
    form .form-group input {
      padding: 10px 8px;
      width: 100%;
      border-radius: 15px;
      border: 1px solid #84d8e3; }
    form .form-group .info {
      font-size: 12px;
      margin-top: 7px;
      color: #324252; }
    form .form-group textarea {
      width: 100%;
      border: 1px solid #84d8e3;
      padding: 5px;
      min-height: 150px; }
    form .form-group input[type=checkbox] {
      width: auto; }
    form .form-group input[type=range] {
      border: none;
      outline: none; }
    form .form-group .bad-status {
      color: #ff1100; }
    form .form-group .notgood-status {
      color: #ff6600;
      margin-left: 25px; }
    form .form-group .normal-status {
      margin-left: 120px; }
    form .form-group .good-status {
      color: #3a9c2f;
      margin-left: 200px; }
    form .form-group .perfect-status {
      color: #22991a;
      margin-left: 230px; }
  form button {
    width: 100%;
    padding: 10px 8px;
    border: 1px solid #84d8e3;
    background: transparent;
    border-radius: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer; }

input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A; }

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000; }

input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000; }

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6; }

input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6; }

#root {
  height: 100vh;
  max-height: 100vh; }
  #root header {
    height: 12vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background: #84d8e3;
    padding: 0 15px; }
    #root header .return img {
      width: 20px; }
    #root header .ad {
      font-size: 12px;
      margin: 0 15px;
      margin-left: 25px;
      color: #3a424a; }
      #root header .ad h3 {
        margin: 0;
        font-size: 18px; }
      #root header .ad p {
        margin-top: 5px;
        margin-bottom: 0; }
    #root header .messager {
      display: flex;
      align-items: center;
      flex-flow: row; }
      #root header .messager .preview-image {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        border: 1px solid #3a424a; }
      #root header .messager .name {
        margin-left: 10px; }
  #root #content {
    padding: 0 15px;
    color: #3a424a; }
    #root #content #appointment {
      margin-bottom: 40px; }
      #root #content #appointment p {
        display: flex;
        align-items: center; }
      #root #content #appointment .icon {
        width: 20px;
        margin-right: 10px; }
      #root #content #appointment .icon-2 {
        width: 23px;
        margin-left: -2px; }
    #root #content .button {
      display: block;
      text-align: center;
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      padding: 10px 8px;
      background: #3a424a;
      color: #84d8e3;
      border-radius: 15px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer; }
      #root #content .button-transparent {
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px 8px;
        background: transparent;
        color: #3a424a;
        border-radius: 15px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        border: 1px solid #84d8e3; }

#cancelAppointment {
  width: 90vw;
  height: 45vh;
  margin: 0 auto;
  position: fixed;
  background: white;
  top: 50%;
  transition: transform 1s;
  left: 50%;
  padding: 20px;
  z-index: 100;
  transform: translate(-50%, -250%);
  color: #3a424a; }
  #cancelAppointment.open {
    transform: translate(-50%, -56%); }
  #cancelAppointment .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  #cancelAppointment #button {
    display: flex;
    flex-flow: column;
    justify-content: flex-end; }
    #cancelAppointment #button .button {
      display: block;
      text-align: center;
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      padding: 10px 8px;
      background: #3a424a;
      color: #84d8e3;
      border-radius: 15px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer; }
      #cancelAppointment #button .button-transparent {
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px 8px;
        background: transparent;
        color: #3a424a;
        border-radius: 15px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        border: 1px solid #84d8e3; }

#backdrop {
  opacity: 0.8; }

.modal-bts {
  box-shadow: none; }

/*# sourceMappingURL=view.css.map */