{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/users/management.css"/>
{{/extend}}
<div id="root">
    <h1>Gestión</h1>

    <a href="/users/favorites" class="management-block">
        <h2>Mis favoritos</h2>
        <i class="fa fa-arrow-right"></i>
    </a>
    {{#if currentUser.lesseeMode }}
        <a href="/users/ads" class="management-block">
            <h2>Mis anuncios</h2>
            <i class="fa fa-arrow-right"></i>
        </a>
    {{/if}}
</div>